
<!DOCTYPE html>

<html>
	<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<meta charset="utf-8">
		<title>loged</title>
	</head>
	
	<body>
		
		<div class="d-inline p-2 bg-dark text-white"><h1>MACRONUTRIENTES</h1></div>
		<div class="wrapper">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/dkCT-hAP8SU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class = "title-container">
		</div>
		
	</body>
</html>
<style> body {
	background-color: gray;
	background-image: url("https://ucarecdn.com/3a1581ce-0b54-4663-bea7-1f9336fd8ae8/-/stretch/off/-/resize/3000x/-/quality/lighter/");
  	background-repeat: no-repeat;
  	background-position: 200px 500px;
	}
	


