
<!DOCTYPE html>
<html>
	<head>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<meta charset="utf-8">
		<title>loged</title>
	</head>
	
	<body>
		<div class = "title-container">
    	<div class="p-3 mb-2 bg-primary text-white">MENU</div>
		</div>
		<div class="wrapper">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/dkCT-hAP8SU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</body>
</html>



