
<!DOCTYPE html>

<html>
  <head>
        <style type="text/css">
            h1{
                font-family: 'Dekko'; 
                color:white;
                text-shadow: 0.5px 0.5px 0.5px black;
            }
            h2{
              font-family: 'Dekko'; 
              color:white;
              text-shadow: 0.5px 0.5px 0.5px black;
            }
            p{
                font-family: 'Dekko';
                font-size: 25px;
                color:white;
                text-shadow: 0.5px 0.5px 0.5px black;
            }

        </style>
  </head> 

  <body>
    <div class="container" style="background-color: #B8B8B8; height:2000px;">
        <div class="row no-gutters">
          <div class="col-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/dkCT-hAP8SU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <%if @perfil != nil %>
            <% if @perfil.objetivo == "perder peso"%>
            <h1>DICAS PARA PERDER PESO</h1>             
            <h2>1-Mastigue mais devagar</h2>

            <p>Pessoas que comem muito rápido têm maior tendência a engordar. Isso acontece porque o cérebro demora algum tempo para acusar que você já comeu o suficiente. 
            Estudos apontam que quem mastiga devagar acaba consumindo menos calorias, já que comem menos do que as pessoas que comem muito rápido. Além disso, alguns especialistas afirmam que
            mastigar bastante aumenta a produção de hormônios ligados à perda de peso.</p>
            
            <h2>2-Corte alimentos com alto teor de açúcar</h2>
            <p>É o vilão de qualquer pessoa que quer emagrecer e ter uma boa saúde. Estudos apontam que o açúcar ou os xaropes de milho, xarope de malte, maltose ou outros tipos de açúcar que são adicionados aos alimentos são muito prejudiciais e aumentam os riscos de obesidade, diabetes, doenças do coração, entre outros. Se você quer perder peso com saúde, uma das importantes dicas para emagrecer é prestar atenção nos rótulos dos alimentos para estes diferentes nomes que o açúcar pode ter, principalmente nos alimentos que dizem ser zero açúcar.</p>
            
            <h2>3-Evite tomar bebidas adoçadas e sucos de fruta</h2>
            <p>O açúcar em sua forma líquida é ainda mais prejudicial do que sua versão sólida. É o que apontam alguns estudos em que as calorias do açúcar líquido se mostram como um dos alimentos mais capazes de engordar. Evite também os sucos naturais, pois, em geral, você não está consumindo a fibra da fruta, apenas o açúcar natural dela.</p>
            
            <h2>4-Use pratos menores</h2>
            <p>Nosso cérebro tem parte importante quando queremos perder peso. Estudos indicam que, ao colocar menos comida em um prato que você sempre via cheio antes da dieta, o seu cérebro entenderá aquela refeição como deficiente, indicando que você vai precisar comer mais, aumentando a fome depois das refeições. Por isso, use pratos menores do que os que você está acostumado, pois assim, mesmo colocando menos comida nele, o seu cérebro vai identificar que você está comendo um prato cheio e passará a informação de que você está comendo o suficiente para se saciar.</p>
            
            <h2>5-Evite bebidas industrializadas</h2>
            <p>Prefira água e chás sem açúcar que você já vai sentir a diferença na hora de se pesar. Um estudo que durou quase 20 anos, com cerca de 750 pessoas acima de 60 anos, mostrou que aqueles que tinham o hábito de beber refrigerante e outras bebidas industrializadas carregadas de açúcar, tinham 70% a mais cintura do que aqueles que não consumiam regularmente essas bebidas.</p>

            <h2>6-Não saia de casa em jejum</h2>
            <p>A não ser que você seja acompanhado por um nutricionista esportivo que tenha feito esse planejamento em cima do seu objetivo pessoal no esporte, não saia de casa em jejum. Comece o dia com um bom café da manhã e o seu corpo irá agradecê-lo por isso. Todas as refeições são importantes, mas começar o dia comendo bem ajuda a acelerar o metabolismo e ter mais energia durante o dia.</p>

            <% elsif @perfil.objetivo == "manter o peso"%>  
            <h1>DICAS PARA MANTER O PESO

            <h2>1-Continue a praticar exercícios físicos</h2>
            <p>De acordo com a American College of Sports Medicine (Faculdade Americana de Medicina Esportiva, tradução livre) praticar pelo menos 250 minutos de exercícios físicos moderados a cada semana ajuda a continuar com o peso ideal. Isso corresponde a somente 50 minutos de atividades diariamente. O Centers for Disease Control and Prevention (Centro de Controle e Prevenção de Doenças, em tradução livre) recomenda de 60 até 90 minutos de exercícios físicos moderados por dia durante a maior parte da semana.</p>
            
            <h2>2-Continue a se pesar</h2>
            <p></p>
            
            <h2>3-Planeje as suas refeições</h2>
            <p> Faça um cardápio semanal com todas as suas refeições e inclua alimentos com baixo teor de gordura e carboidratos no cardápio. Pense também no intervalo entre as refeições, em que pode bater a fome, e tenha sempre uma fruta guardada para situações de emergência.</p>
            
            <h2>4-Pense positivo</h2>
            <p>Uma pesquisa realizada pela Penn State University (Universidade Estadual da Pensilvânia) descobriu que as pessoas com atitudes mais positivas obtinham maior sucesso em relação à manutenção do peso perdido. Sendo assim, para fazer parte dessa estatística seja mais otimista e acredite em você mesmo. Olhe-se no espelho e perceba que se você conseguiu perder todo o peso que desejava, também sabe como manter o peso saudável. Além disso, peça a um médico que recomende um exercício apropriado, que você possa praticar por, pelo menos, 30 minutos por dia.</p>

            <h2>5-Coma mais frutas e vegetais</h2>
            <p>Vegetais e frutas devem constituir cerca de metade do consumo diário, com carboidratos representando cerca de um quarto do espaço. O espaço restante é geralmente para proteínas e derivados do leite. </p>

            <h2>6-Conheça a medida de sua cintura</h2>
            <p>Já foi demonstrado que uma circunferência maior que 102 cm, em homens, e 88 cm, em mulheres, aumenta os riscos de hipertensão e doenças cardiovasculares, especialmente no caso de pessoas com um Índice de Massa Corporal (IMC) entre 25 e 35. É importante consultar um nutricionista, para obter sugestões sobre como melhorar sua dieta.</p>

            <%else%>
            <h1>DICAS PARA GANHAR MASSA
            
            <h2>1- Proteínas eficientes</h2>
            <p>As carnes vermelha, de frango e peixe, desde que livres da gordura, são pouco calóricas e alto valor proteico, assim como ovos e grãos como a quinoa. Barrinhas industrializadas de proteína também podem ser encontradas com facilidade nos mercados e são boas opções para quem não tem tempo de se alimentar adequadamente logo após o treino.</p>
            
            <h2>2- Invista nas atividades aeróbias</h2>
            <p>Se você não sai da sala de musculação, saiba que intercalar uma atividade aeróbica à prática pode fazer com que os resultados sejam mais rápidos. Ciclismo, corrida e natação são exemplos de atividades que podem servir como complemento da musculação.</p>
            
            <h2>3- Repouso</h2>
            <p>É ideal para que aconteça a recuperação muscular. Tenha boas noites de sono e evite treinar mais do que cinco vezes na semana, uma frequência maior pode levar ao overtraining (mais exercícios do que seu corpo é capaz de recuperar) e fazer com que você perca massa muscular ao invés de ganhar.</p>
            
            <h2>4-Evolua nos treinos</h2>
            <p>Aumente as cargas gradativamente, conforme sinta que está progredindo, só assim seu índice de massa magra também aumentará. Tente não estender seus treinos por mais de uma hora e treine todos os grupos musculares. Manter um diário de treinos, registrando seu progresso e definindo novas metas é uma forma eficiente de manter-se motivado e atento.</p>

            <h2>5-Se necessário, invista nos suplementos </h2>
            <p>lgumas pessoas têm mais dificuldade em ganhar massa muscular do que outras. Em alguns casos, investir em suplementos pode ser uma opção interessante, mas sempre com a recomendação de um médico ou nutricionista e escolhendo aquele que seja adequado aos seus objetivos e necessidades.</p>

            <h2>6-Hidrate-se</h2>
            <p>Beber água antes, durante e após os treinos é essencial. "O corpo necessita de hidratação para que a síntese proteica ocorra com mais facilidade", explica a especialista.</p>

            <%end%>
            <h2>Calorias</h2>
            <br>
            
            <!--calorias calculo -->
            <% if @perfil.sexo
            bmr = (66.47+(13.75*@perfil.peso)+(5*@perfil.altura)-(6.75*@perfil.idade))
           if @perfil.atividade == "bmr"
            total = bmr.round
           elsif @perfil.atividade == "sedentario: pouco ou nada de exercicios"
            total =bmr*1.2
            total.round 
           elsif @perfil.atividade == "exercicio leve"
            total =bmr*1.375
            total.round 
           elsif @perfil.atividade =="exercicio moderado"
             total =bmr*1.55
             total.round 
           elsif @perfil.atividade =="exercicio intenso"
             total =bmr*1.725
             total.round
           else
             total =bmr*1.9
             total.round
           end
            if total > 0 && total <=1800 
              @perfil.caloria = 1
            elsif total > 1800 && total <= 2600
              @perfil.caloria = 2
            else
             @perfil.caloria = 3
           end
          else
            bmr = (665.09+(9.56*@perfil.peso)+(1.84*@perfil.altura)-(4.67*@perfil.idade))
            if @perfil.atividade == "bmr"
            total = bmr.round
           elsif @perfil.atividade == "sedentario: pouco ou nada de exercicios"
            total =bmr*1.2
            total.round 
           elsif @perfil.atividade == "exercicio leve"
            total =bmr*1.375
            total.round 
           elsif @perfil.atividade =="exercicio moderado"
             total =bmr*1.55
             total.round 
           elsif @perfil.atividade =="exercicio intenso"
             total =bmr*1.725
             total.round
           else
             total =bmr*1.9
             total.round
           end
            if total > 0 && total <=1800 
              @perfil.caloria = 1
            elsif total > 1800 && total <= 2600
              @perfil.caloria = 2
            else
             @perfil.caloria = 3
           end
          end%>

          <%if @perfil.caloria == 1%>
            <h1>Intervalo de até 1800 calorias</h1>
            <h2>Baixa ingestão</h2>
          <%elsif @perfil.caloria == 2%>
            <h1>Intervalo 1800 - 2600 calorias</h1>
            <h2>Media ingestão</h2>
          <%else%>
            <h1>Intervalo de maior que 2600 calorias</h1>
            <h2>Alta ingestão</h2>
          <%end%>
        <%end%>

          </div>
        </div>
      </div>
  </body> 
</html>

  


